[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "astronvim"]
	path = nvim/lua/user
	url = https://HippieHosenHustler/AstroNvimConfig
	ignore = dirty
